<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Contact Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">

</head>

<body>
    <div id="app">
        <div class="container">
            <form id="contactForm" @submit.prevent="$validator.validateAll()" @submit="submitForm()">
                <fieldset>
                    <legend>Vue Contact Form With
                        <span style="color: #42b983">VeeValidate</span>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input 
                                 v-model="email"
                                 v-validate="{ required : true, email : true}"
                                 type="email" class="form-control"
                                 :class="{'is-invalid' : errors.first('email')}"
                                 id="email"
                                 name="email"
                                 aria-describedby="email"
                                 placeholder="Enter email">
                                <span style="color: red">{{ errors.first('email') }}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input 
                                v-model="phone" 
                                v-validate="{ required : true, min : 6, regex: /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/ }" 
                                name="phone" type="tel" 
                                :class="{'is-invalid' : errors.first('phone')}"
                                class="form-control" 
                                id="phone" 
                                aria-describedby="phone"
                                placeholder="Phone">
                                <span style="color: red">{{ errors.first('phone') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input 
                                v-model="name"
                                v-validate="{ required : true, min : 3}"
                                name="username"
                                :class = " { 'is-invalid' : errors.first('username') } "
                                type="text"
                                class="form-control"
                                id="name"
                                aria-describedby="name"
                                placeholder="Name">
                                <span style="color: red">{{ errors.first('username') }}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Surrname</label>
                                <input 
                                v-model="surrname"
                                name="surrname"
                                v-validate="{ required : true, min : 3}" 
                                :class = " { 'is-invalid' : errors.first('surrname') } "
                                type="text" 
                                class="form-control" 
                                id="surrname" 
                                aria-describedby="surrname" 
                                placeholder="Surrname">
                                <span style="color: red">{{ errors.first('surrname') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="msg">Message</label>
                        <textarea 
                        v-model="message"
                        name="message"
                        v-validate="{ required : true, min : 10}" 
                        :class = " { 'is-invalid' : errors.first('message') } "
                        class="form-control"
                        id="exampleTextarea"
                        rows="3"></textarea>
                        <span style="color: red">{{ errors.first('message') }}</span>
                    </div>

                    <button type="submit" class="btn btn-primary" >Submit</button>
                </fieldset>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/2.0.9/vee-validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>

</html>